USE [EmergencyDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientAttributeList]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientAttributeList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AttributeName] [nvarchar](max) NOT NULL,
	[Score] [float] NOT NULL,
 CONSTRAINT [PK_clientAttributeList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientAttributePatientFile]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientAttributePatientFile](
	[PatientAttributesId] [int] NOT NULL,
	[PatientFilesId] [int] NOT NULL,
 CONSTRAINT [PK_ClientAttributePatientFile] PRIMARY KEY CLUSTERED 
(
	[PatientAttributesId] ASC,
	[PatientFilesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patientFileList]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patientFileList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntryTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Descreption] [nvarchar](max) NOT NULL,
	[FinalScore] [float] NULL,
	[LastScoreUpdate] [datetime2](7) NULL,
 CONSTRAINT [PK_patientFileList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patientList]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patientList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[EntryTime] [datetime2](7) NOT NULL,
	[PatientIdentity] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[TreatmentId] [int] NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_patientList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Diagnosis] [nvarchar](max) NOT NULL,
	[Procedure] [nvarchar](max) NOT NULL,
	[Recommendations] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Treatments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usersList]    Script Date: 04/05/2025 17:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usersList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_usersList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250225113346_a', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250225185106_B', N'7.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250226173235_C', N'7.0.0')
GO
SET IDENTITY_INSERT [dbo].[clientAttributeList] ON 

INSERT [dbo].[clientAttributeList] ([Id], [AttributeName], [Score]) VALUES (21, N'Cardiac arrest / Respiratory arrest', 100)
INSERT [dbo].[clientAttributeList] ([Id], [AttributeName], [Score]) VALUES (22, N'Anaphylactic shock (life-threatening allergic reaction)', 100)
INSERT [dbo].[clientAttributeList] ([Id], [AttributeName], [Score]) VALUES (23, N'Acute heart attack (chest pain, sweating, shortness of breath)', 100)
SET IDENTITY_INSERT [dbo].[clientAttributeList] OFF
GO
INSERT [dbo].[ClientAttributePatientFile] ([PatientAttributesId], [PatientFilesId]) VALUES (41, 1155)
INSERT [dbo].[ClientAttributePatientFile] ([PatientAttributesId], [PatientFilesId]) VALUES (21, 1156)
INSERT [dbo].[ClientAttributePatientFile] ([PatientAttributesId], [PatientFilesId]) VALUES (31, 1157)
GO
SET IDENTITY_INSERT [dbo].[patientFileList] ON 

INSERT [dbo].[patientFileList] ([Id], [EntryTime], [Status], [PatientId], [Descreption], [FinalScore], [LastScoreUpdate]) VALUES (1, CAST(N'2025-02-25T12:51:16.5480000' AS DateTime2), N'string', 1, N'', NULL, NULL)
INSERT [dbo].[patientFileList] ([Id], [EntryTime], [Status], [PatientId], [Descreption], [FinalScore], [LastScoreUpdate]) VALUES (2, CAST(N'2025-02-25T13:12:20.1720000' AS DateTime2), N'active', 1, N'', NULL, NULL)
INSERT [dbo].[patientFileList] ([Id], [EntryTime], [Status], [PatientId], [Descreption], [FinalScore], [LastScoreUpdate]) VALUES (3, CAST(N'2025-02-25T13:33:21.2120000' AS DateTime2), N'string', 2, N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[patientFileList] OFF
GO
SET IDENTITY_INSERT [dbo].[patientList] ON 

INSERT [dbo].[patientList] ([Id], [Name], [Gender], [Address], [Phone], [EntryTime], [PatientIdentity], [Email], [TreatmentId], [DateOfBirth]) VALUES (1, N'ruth', N'f', N'tora', N'0988665', CAST(N'2025-02-25T14:53:10.6017918' AS DateTime2), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[patientList] ([Id], [Name], [Gender], [Address], [Phone], [EntryTime], [PatientIdentity], [Email], [TreatmentId], [DateOfBirth]) VALUES (2, N'hi', N'female', N'fg', N'string', CAST(N'2025-02-25T15:34:19.4964079' AS DateTime2), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[patientList] ([Id], [Name], [Gender], [Address], [Phone], [EntryTime], [PatientIdentity], [Email], [TreatmentId], [DateOfBirth]) VALUES (3, N'hi', N'female', N'string', N'string', CAST(N'2025-02-25T15:40:05.8080317' AS DateTime2), NULL, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[patientList] OFF
GO
SET IDENTITY_INSERT [dbo].[Treatments] ON 

INSERT [dbo].[Treatments] ([Id], [Diagnosis], [Procedure], [Recommendations]) VALUES (1, N'BBBBBBB', N'AAAA', N'CCCCCC')
INSERT [dbo].[Treatments] ([Id], [Diagnosis], [Procedure], [Recommendations]) VALUES (2, N'', N'', N'')
INSERT [dbo].[Treatments] ([Id], [Diagnosis], [Procedure], [Recommendations]) VALUES (3, N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Treatments] OFF
GO
SET IDENTITY_INSERT [dbo].[usersList] ON 

INSERT [dbo].[usersList] ([Id], [Name], [Password], [Role], [Phone], [Status], [Description]) VALUES (1, N'asi', N'123', 1, N'', N'Active', N'')
INSERT [dbo].[usersList] ([Id], [Name], [Password], [Role], [Phone], [Status], [Description]) VALUES (2, N'ruth', N'123', 1, N'', N'Active', N'')
INSERT [dbo].[usersList] ([Id], [Name], [Password], [Role], [Phone], [Status], [Description]) VALUES (3, N'רות', N'123', 3, N'', N'Active', N'')
SET IDENTITY_INSERT [dbo].[usersList] OFF
GO
ALTER TABLE [dbo].[patientFileList] ADD  DEFAULT (N'') FOR [Descreption]
GO
ALTER TABLE [dbo].[patientList] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateOfBirth]
GO
ALTER TABLE [dbo].[ClientAttributePatientFile]  WITH CHECK ADD  CONSTRAINT [FK_ClientAttributePatientFile_clientAttributeList_PatientAttributesId] FOREIGN KEY([PatientAttributesId])
REFERENCES [dbo].[clientAttributeList] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientAttributePatientFile] CHECK CONSTRAINT [FK_ClientAttributePatientFile_clientAttributeList_PatientAttributesId]
GO
ALTER TABLE [dbo].[ClientAttributePatientFile]  WITH CHECK ADD  CONSTRAINT [FK_ClientAttributePatientFile_patientFileList_PatientFilesId] FOREIGN KEY([PatientFilesId])
REFERENCES [dbo].[patientFileList] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientAttributePatientFile] CHECK CONSTRAINT [FK_ClientAttributePatientFile_patientFileList_PatientFilesId]
GO
ALTER TABLE [dbo].[patientFileList]  WITH CHECK ADD  CONSTRAINT [FK_patientFileList_patientList_PatientId] FOREIGN KEY([PatientId])
REFERENCES [dbo].[patientList] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[patientFileList] CHECK CONSTRAINT [FK_patientFileList_patientList_PatientId]
GO
ALTER TABLE [dbo].[patientList]  WITH CHECK ADD  CONSTRAINT [FK_patientList_Treatments_TreatmentId] FOREIGN KEY([TreatmentId])
REFERENCES [dbo].[Treatments] ([Id])
GO
ALTER TABLE [dbo].[patientList] CHECK CONSTRAINT [FK_patientList_Treatments_TreatmentId]
GO
