<div class="dialog-header">
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  @if(numberPatient!=0){
  <h2> The patient currently the treatment : {{numberPatient}}</h2>}
  @else {
    <h2>there is no patient in treatment</h2>
  }
  @if (patientNext!=null) {
  <h3> The next patient is : {{numberPatientNext}}</h3>}
  @else {
    <h3> there is no patient waiting {{numberPatientNext}}</h3>}

  

  
  <table>
  <thead>
    <tr>
      <th>  number</th>
      <th> Entry Time</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients; track patient.patient.patientIdentity) {
      <tr>
        <td>{{ patient.patient.id }}</td>
        <td>{{ patient.entryTime|date: 'dd/MM/yyyy HH:mm:ss'  }}</td>
      </tr>
    }
  </tbody>
  </table>